*

!.gitignore

!mimeapps.list

!backup-exclude

!commands/
!commands/**


!hypr/
!hypr/**

!kitty/
!kitty/**

!mako/
!mako/**

!niri/
!niri/**

!waybar/
!waybar/**

!wireplumber/
!wireplumber/**

!xournalpp/
!xournalpp/**

!yazi/
!yazi/**



