*

!.gitignore

!backup-exclude

!.gnupg

!commands/
!commands/**
commands/bash_history

!hypr/
!hypr/**

!kitty/
!kitty/**

!mako/
!mako/**

!niri/
!niri/**

!waybar/
!waybar/**

!wireplumber/
!wireplumber/**

!xournalpp/
!xournalpp/**

!yazi/
!yazi/**



